<!DOCTYPE html>
<html>
  <head>
    <title>Eat Out</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style3.css') }}">
    <script text/javascript>
        let map;
        var query = "Ribeye steak";
        var searchRadius = 5000;
        var current_location;
        var markers = [];
        var preferences = JSON.parse(sessionStorage.getItem("options"));
        console.log(typeof preferences);
        function initMap() {
            var nothardcoded = new google.maps.LatLng(43.2609,-74.9192);

            map = new google.maps.Map(document.getElementById('map'), {
                center: nothardcoded,
                zoom: 12
            });

            setCurrentLocation();
        }

        function getCurrentLocation() {
            return current_location;
        }

        function setCurrentLocation(pos) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                map.setCenter(new google.maps.LatLng(pos.lat, pos.lng));
                current_location = pos;

                new google.maps.Marker({
                  position: current_location,
                  map: map,
                  title: "Current Location",
                  animation: google.maps.Animation.DROP
                });

                search(query, current_location);
            });
        }

        function search(loca, currentLoca){
            request = {
                location: currentLoca,
                radius: searchRadius,
                query: loca
            };

            service = new google.maps.places.PlacesService(map);
            service.textSearch(request, callback);
        }

        function callback(results, status) {
            if (status == google.maps.places.PlacesServiceStatus.OK) {
                var resultToPost = [];
                resultToPost[0] = query;

                for (var i = 0; i < results.length; i++) {
                    var marker = new google.maps.Marker({
                        position: results[i].geometry.location,
                        map: map,
                        animation: google.maps.Animation.DROP,
                        title: results[i].name,
                    });
                    marker.setMap(map);
                    markers.push(marker);

                    var current_location = getCurrentLocation();
                    var address = results[i].formatted_address;
                    var location = results[i].geometry.location;
                    var lat = location.lat();
                    var lng = location.lng();
                    var distance = Math.sqrt((current_location.lng - location.lng()) * (current_location.lng - location.lng())
                                        + (current_location.lat - location.lat()) * (current_location.lat - location.lat()));
                    var restaurant = results[i].name;
                    var price_level = results[i].price_level;
                    var ratings = results[i].rating;

                    var dict = {};
                    dict['restaurantName'] = restaurant;
                    dict['address'] = address;
                    dict['distance'] = distance;
                    dict['lat'] = lat;
                    dict['lng'] = lng;
                    dict['rating'] = ratings;
                    dict['priceLvl'] = price_level;
                    dict['prices'] = [];
                    dict['popularTimes'] = 0;
                    resultToPost[i+1] = dict;
                }

                fetch('http://127.0.0.1:5000/hello', {

                    // Declare what type of data we're sending
                    headers: {
                        'Content-Type': 'application/json'
                    },

                    // Specify the method
                    method: 'POST',

                    // A JSON payload
                    body: JSON.stringify(resultToPost)
                })
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (json) {

                        // logic for sorting

                    });
            }
        }

        function addToList(places){
            var ul = document.getElementById("dylist");
            for (var i = 0; i < places.length; i++) {
              var candidate = places[i].name;
              var li = document.createElement("li");
              li.setAttribute('id',candidate);
              li.appendChild(document.createTextNode(candidate));
              // li.appendChild(document.createTextNode(" Price: $"));
              ul.appendChild(li);
            }
        }
    </script>
  </head>
  <body>
    <div id="map"></div>
    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
      <div class="w3-display-middle">
        <img src="{{ url_for('static', filename='img/eat_out_very_small_white.png') }}" alt="">
      </div>
    <div class="list">
    <ul id='dylist' style="list-style: none;"></ul>
    </div>
    <div class="topnav">
      <div class="search-container" class="img-responsive">
    <form onsubmit="searchAgain()" action="javascript:void(0)">
      <input type="text" placeholder="Search.." id='search' onkeydown = "if (event.keyCode == 13){
                        document.getElementById('fa fa-search').click()}" >
      <button type='button' id='btn' class='fa fa-search' onclick="searchAgain()"></button>
    </form>
      </div>
    </div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9OUVOA30j_zhlh0JLvkbp-PQJslXnqUA&callback=initMap&libraries=places&v=weekly"
      async
    ></script>
  </body>
</html>